@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgb(0 0 0 / 90%), 2px 2px 7px rgb(73 64 125 / 95%);
}

* {
  box-sizing: border-box;
}
